html, body {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
}

header {
  text-align: center;
  padding: 18px;
  background-color: rgb(254, 255, 176);
  border-bottom: 5px solid rgb(165, 165, 0);
}

#body {
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 100%;
}

nav {
  height: 100%;
  background-color: rgb(255, 185, 32);
}

.nav {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  text-align: center; 
}

.nav li {
  margin: 10px;
}

.nav li a {
  text-decoration: none;
  color: rgb(54, 54, 54);
}

#active {
  text-decoration: underline;
  color: black;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(255, 255, 122);
}

article {
  padding: 10px;
}

h1 {
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: black;
}

h3 {
  text-align: center;
}

/* For mobile devices */
@media (max-width: 500px) {
  
  #body {
    display: block;
  }
  
  nav {
    height: auto;
  }

  .nav li {
    display: inline;
    font-size: 0.9em;
  }
  
  header {
    font-size: 0.8em;
    padding: 15px;
    background-color: rgb(254, 255, 176);
    border-bottom: none;
  }

  #content {
    height: 100%
  }

}

/* for large screen */
@media (min-width: 800px) {
  
  body {
    width: 800px;
    margin: auto;
  }

}